<h1>Course Search</h1>
<div class="CourseSearch">
  <button (click)=clearDisplay()>Clear Display</button>
  <button (click)=getData()>All Courses</button>
</div>
<div class="searchBox">
  <input type="text" [(ngModel)]="subjectVal" placeholder="Search by subject">


  <br>
  <input type = "text"[(ngModel)]="courseVal" placeholder= "Course code">
  <!--<select #dropdown>
    <option *ngFor="let x of arr2">{{ x }}</option>
  </select>-->
  <button (click)=searchSubjectCourse()>Search Subject/Course</button>
  <br>
  <input type="text" [(ngModel)]="component" placeholder="Search by component">
  <button (click)=searchSubjectCourseComponent()>Search Component</button>
</div>
<p id="DisplaySearch"></p>
<div class="ShowAll">
  <ul id="allClasses">
  </ul>
</div>

<P id="ERROR"></P>

