<h1>Schedules!</h1>
<div class = "createSchedule">
  <input type="text" [(ngModel)]="schedName" placeholder="Schedule Name">
  <button (click) = createSchedule()>Create Schedule</button>
  <button (click) = deleteSchedule()>Delete Schedule</button>
  <button (click) = deleteAll()>Delete All Schedule</button>
  <button (click) = listAllSchedules()>List Schedules</button>

</div>
<div class = "AddingPairs">
  <input type="text" [(ngModel)]="subjectName" placeholder="Subject">
  <button (click) = populate()>Show course code pairs</button>
  <select #dropdown>
    <option *ngFor="let x of arr">{{ x }}</option>
  </select>
  <button (click) = "addingSchedule(dropdown.value)">Add pair to schedule</button>
  <button (click) = scheduleSearch()>Timetable by Schedule Name</button>
</div>
<p id ="ShowResults"></p>
<P id = "ERROR"></P>
