
<h2>LogIn Page</h2>
<div id ="loginStatus">

</div>
<div>
  <input [(ngModel)] = "email" type = "text" id="username" placeholder="email">
</div>

<div>
  <input [(ngModel)] = "password" type = "text" id="password" placeholder="PASSWORD">
</div>

<div>
  <button (click) = "verify()">LOGIN</button>
</div>
<p>Western Timetable is a web application in which the User can login and create schedules from a database of available courses at Western.
   Logged in Users are able to build create course lists and search courses. Users who are not logged in can choose to create an account or search courses.
</p>




